<section id="home">
  <div class="container-fluid d-none d-md-block" style="padding:0 0 16px 0">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/imgs/image1.jpg" alt="1st image" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/imgs/image2.jpg" alt="2nd image" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/imgs/image3.jpg" alt="3rd image" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/imgs/image4.jpg" alt="4th image" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/imgs/image5.jpg" alt="5th image" class="item">
      </ng-template>
    </ngb-carousel>
  </div>
</section>