<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-dark bg-main">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" routerlink="">
      <img src="../assets/godOfWar.jpg" alt="logo" id="logo">Amano
    </a>
    <button class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" style="align-items: left; margin-left: 50px" class="collapse navbar-collapse flex-collumn" id="navbarNav">
      <div class="input-group w-75"> 
        <input type="text" name="search" [(ngModel)]="searchTerm"(keyup.enter)="search()" class="form-control">  
        <span id="searchBtn" (click)="search()" class="bg-warning">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="w-100">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a (click)="collapse()" routerLink="/categories" routerLinkActive="active" class="nav-link">
            Categories</a>
          </li>
          <li class="nav-item ml-0 ml-md-auto" ngbDropdown #dropdown="ngbDropdown">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>
              <i class="fa fa-user mr-1"></i>
              <span *ngIf="!token">Account</span>
              <span *ngIf="data.user">{{ data.user.name }}</span>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();" routerLink="/profile" class="dropdown-item">
                <i class="fa fa-user-circle" aria-hidden="true">Profile</i>
              </a>    
              <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/login" class="dropdown-item">
                <i class="fa fa-key-circle" aria-hidden="true">Login</i>
              </a>    
              <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();logout();" class="dropdown-item">
                <i class="fa fa-unlock" aria-hidden="true">Logout</i>
              </a>    
              <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/register" class="dropdown-item">
                <i class="fa fa-group" aria-hidden="true">Register</i>
              </a>    
            </div>
          </li>
          <li class="nav-item ml-0 ml-md-2">
            <a (click)="collapse()" routerLink="/cart" routerLinkActive="active" class="nav-link">
              <i class="fa fa-shopping-cart mr-1"></i>
            </a>
          </li>

        </ul>
      </div>

    </div>        
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-main text-white mt-5 p-5" id="main-footer">
  <div class="container">
    <p class="lead text-center">Copyright &copy; 2018</p>
  </div>
</footer>
